# Temporary build files excluding output pdf
*.pdf
!pdf/*.pdf
*.aux
*.log
*.synctex.gz
*.out
tmp
build

# Editor settings
.vscode

# Aegir Games assets that I do not have permission to publish
src/fonts/ThePriceOfPower
src/images/*

# Images that should not be ignored
!src/images/background.png
!src/images/trifold.png

# Files and folders for local notes and experiments
*.local
*.local.*
